@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Managment - BDAT 1001</h1>
    <img src="https://www.leadsquared.com/wp-content/uploads/2021/11/what-is-contact-manager.png" />
    <p>Written with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
